{% extends "layout.html" %}
{% block content %}

				
                <div id="container_demo" >
				
                    <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->

                    <div id="wrapper">
                        <div id="login" class="animate form">
                            <form  action="{{ url_for('setPortfolio') }}" method="post" autocomplete="on"> 
                                <h1>Portfolio Registration</h1> 

                                <p> 
                                    <label> Choose a Portfolio</label>
									<select id="pf_name" name="pf_name" required="required" >
										  <option value="Blockchain">Blockchain</option>
										  <option value="AI">AI</option>
										  <option value="NFT">NFT</option>
										  <option value="CBDC">CBDC</option>
										  <option value="IoT">IoT</option>

								    </select>
                                </p>

                                <p> 
                                    <label> Registration date </label>
                                    <input name="reg_dtime" required="required" type="date" placeholder="eg. 2021/04/21" /> 
                                </p>
                                <p> 
                                    <label> Candidate name </label>
                                    <input name="reg_name" required="required" type="text" placeholder="eg. Mainul" /> 
                                </p>
                                <p> 
                                    <label> Professor name </label>
                                    <input name="professor_name" required="required" type="text" placeholder="eg. Hoh Peter In" /> 
                                </p>
                                <p> 
                                    <label> Score</label>
                                    <input name="score" required="required" type="number" placeholder="eg. 12" /> 
								</p>

                                                             

                                <p class="login button" style="text-align: center;"> 
                                    <input type="submit" value="Submit" /> 
								</p>

                            </form>
						
                            <div style="text-align: center;">
							{% if result.pf_no%}
                            <p style="color:#27AE60;">Portfolio has been successfully added to blockchain!!!</p><br>
                            <p style="color:red"> Portfolio details </p>
                            <div style="display: inline-block; text-align: left;color:#3355FF">

                            <p style="color:black"> -------------------------------------------</p>
							<span >pf_no: {{result.pf_no}}</span><br>
							<span  >pf_name: {{result.pf_name}}</span><br>
							<span >reg_dtime: {{result.reg_dtime}}</span><br>
							<span >reg_name: {{result.reg_name}}</span><br>
							<span >professor_name: {{result.professor_name}}</span><br>
							<span style="width:300px; word-wrap:break-word; display:inline-block;"> professor_pk: {{result.professor_pk}}</span><br>
							<span >score: {{result.score}}</span><br>
							<span >pf_status: {{result.pf_status}}</span><br>
							<a href="https://{{result.pf_url}}"><span style="width:300px; word-wrap:break-word; display:inline-block;text-decoration:none;color:#3355FF"> pf_url: {{result.pf_url}}</span></a><br>
                            <p > -------------------------------------------</p><br>

  		                    {% endif %}

							</div>
                        </div>


						
                    </div>
                </div>  
  
        </div>
{% endblock %}